@font-face {
    font-family: 'Minecrafter';
    src: url(Fonts/minecrafter/Minecrafter.Reg.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Minecraftia';
    src: url(Fonts/minecraftia/Minecraftia.ttf) format('truetype');
  }

*{
    box-sizing: border-box;
}

#header {
    font-family: Minecrafter;
    text-align: center;
    margin: 0px;
}

body {
    text-align: center;
    background: url(Texturen/MCBackground.png) black;
    margin: 0px;
}

header {
    background: url(Texturen/GrassMCBackground.png);
    height: 146px;
    padding-top: 8px;
}

#clickButton {
    height: 150px;
    width: 150px;
    background: url(Texturen/150px-Diamond_Ore.png);
    border: none;
    outline: none;
    margin-top: 50px;
    }

#diamondText {
    font-family: Minecraftia;
    font-size: 40px;
    color: aqua;
}

.button {
    margin: 20px 0px;
    width: 100%;
    color: white ;
    background: transparent;
    font-family: Minecraftia;
    font-size: 30px;
    border: 1px solid blue;
    padding: 4px;
    outline: none;
    display: block;
    transition: 1s;
}

#shop {
    width: 50%;
    margin: 0 auto;
}

#imgPickaxe {
    position: absolute;
    top: 70px;
    left: 60%;
    height: 75px;
    width: 75px;
}

.styleDiv {
    position: relative;
}

#werkzeugText {
    font-family: Minecraftia;
    position: absolute;
    top: 160px;
    left: 55%;
    color: white;
}

.speed {
    font-family: Minecraftia;
}

#clickButton:active {
    transform: translateY(-35px);
    transition: 1s;
  }

.button:hover {
    transform: scale(1.05);
    background: orange;
}
  
.button:active {
    transform: translateY(-15px);
    transition: 1s;
}

.active {
    border-color: aqua;
}

@media (max-width: 640px) {
    .button {
        font-size: 14px;
    }
    #shop {
        width: 90%;
        margin: 0 auto;
    }
    #werkzeugText {
        font-family: Minecraftia;
        position: absolute;
        top: 180px;
        left: 55%;
        color: white;
    }
    #imgPickaxe {
        position: absolute;
        top: 70px;
        left: 75%;
        height: 75px;
        width: 75px;
    }
    .button:hover {
        transform: scale(1);
        background: none;
    }
    .button:active {
        transform: translateY(-15px);
        transition: 1s;
    }
}

